.projects__container {
	width: 750px;
}
.projects__card {
	background-color: var(--container-color);
	border-width: 2px;
	border-style: solid;
	border-color: var(--title-color-dark);
	padding: 1.5rem 2rem;
	border-radius: 1.5rem;
	margin-bottom: var(--mb-3);
}
.projects__img {
	width: 60px;
	border-radius: 3rem;
	margin-bottom: var(--mb-1);
}
.projects__name {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-25);
}
.projects__description {
	font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
	background-color: var(--text-color) !important;
}
.swiper-pagination-bullte-active {
	background-color: var(--title-color) !important;
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {
	.projects__container {
		width: initial;
	}
	.projects__card {
		padding: 1.25rem 1.5rem;
	}
}
